*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet:#581845;
    --whitesmoke:whitesmoke;
}


/*apply style to<header>*/
header {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    padding: 20px 35px;
    background-image:url("https://image.freepik.com/free-photo/colourful-bri…tern-with-copy-space-background_23-2148283321.jpg");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight:lighter ;
    font-size: 36px;
    color: var( --whitesmoke);
    margin: 0 auto;

}
.subtitle {
 font-size: 30px;
 font-weight: lighter;
 margin-right: 35px;
 color: var(--whitesmoke);
}

.logo{
    display: flex;
    align-items:flex-end;
    justify-content: left;

}

header  img {
 border-radius: 50%;
 width: 155px;
 height: 155px;

}

header a {
    text-decoration: none;
    color:var( --whitesmoke);
}
header nav {
  
    margin: 7px 0;

}
header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header ul li a {
    margin:0px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline;
   
}
/* apply style to about me <section> */
.about-me {
    
    display:inline;
 padding: 8px 5px 133px 271px;
}

.about-me h3{
 font-size: 36px;
 color:black;
 margin-left: 0px;
 padding: 50px 5px 150px 271px;
 display: inline-block;
 width: 5%;
 float: left;
 clear: both;}


 .parag {
 line-height: 1.7;
 color:black;
 width:58%;
 font-size: 20px;
 margin: 0 auto;
 border-left: 5px solid #581845;
 padding: 17px 20px 20px 20px;
 margin-top: 70px;
 }
 /*style work sction */
.projects {
    padding: 15px;
    margin: 0 auto;
    margin-right:150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 5px solid #581845;
    height: fit-content; 

    
    
}
.flex-work img {
    height:200px ;
    width:350px ;
    min-width:200px ;
    border:5px solid cadetblue;
    border-radius: 7px;
    transition: img 0.5s ease;
  

}
.flex-work img::after:hover{
    opacity: 0.5;
}


 
