*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet:#581845;
    --gold:#b8860b;
    --whitesmoke:whitesmoke;
}
body{
    background-image: url("	https://images.hdqwalls.com/download/dark-abstract-black-minimal-4k-q0-1680x1050.jpg");
}

/*apply style to<header>*/
header {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    padding:10px;
    background-image: url("https://img.freepik.com/free-vector/gold-luxury-background_52683-43998.jpg?size=626&ext=jpg");
    display: flex;
    justify-content: space-between;
    
   
}
header h1 {
    font-weight:lighter ;
    font-size: 36px;
    color:var(--gold);
    margin: 0 auto;

}

.subtitle h2 {
 font-size: 30px;
 font-weight: lighter;
 margin-right: 35px;
 color: var(--whitesmoke);
 display: flex;
 justify-content:right;
}

.logo{
    /* display: flex; */
    align-items:center;
    justify-content: left;

}
.subtitle{
    padding:20px;
    margin: 0 auto;
    background-color: #202020;
}

.subtitle  img {
 border-radius: 50%;
 width: 200px;
 height: 200px;

}

header a {
    text-decoration: none;
    color:var(--gold);
    
}
header nav {
  
    margin: 7px 0;

}
header nav ul  {
    display: flex;
    
    justify-content:flex-start;
    align-items: center;
    list-style: none;
}
header ul li a {
    margin:0px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline;
   
}
/* apply style to about me <section> */
.about-me {
    
 display:flex;
 justify-content: center;
 padding:5px;
 margin-top: 70px;
}
.parag {
 line-height: 1.7;
 color:var(--whitesmoke);
 width:58%;
 font-size: 20px;
 border-left: 5px solid var(--gold);
 padding: 17px 20px 20px 20px;
 margin-left: 0px;
 color: var(--whitesmoke);
}
.head3{
     width:10%;
     margin-right: 0px;
     padding: 0px;
     font-size: 30px;
     font-weight: bold;
     color: var(--whitesmoke)
 }
 /*style work sction */
 .flex-work{
    display:flex;
    justify-content: center;
    padding:5px;
    margin-top: 70px;
}
.project {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   border-left: 5px solid var(--gold);
}
.project img {
    
    height:200px;
    width: 350px;
    min-width:200px ;
    border:5px solid var(--gold);
    border-radius: 7px;
    transition: img 0.5s ease;
    flex:1 0 0;
  

}
.projects img:hover{
    opacity: 0.5;
}

.project img{
    opacity: 1;
}

footer {
    display:flex;
 padding: 10px;
background-image:url("https://img.freepik.com/free-vector/gold-luxury-background_52683-43998.jpg?size=626&ext=jpg");

}


.contact-info{
    
    line-height: 1.7;
    color:var(--whitesmoke);
   
    font-size: 20px;
    border-left: 5px solid var(--gold);
    padding: 17px 20px 20px 20px;
    margin-left: 0px;
    color: var(--whitesmoke);
   
}

 .contact-info h3{
     color: var(--gold);
     
    }
    .contact-info a {
        color:var(--whitesmoke);
        
     
    }
    