:root{
    --violet:#581845;
    --whitesmoke:whitesmoke;
}


/*apply style to<header>*/
header {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    padding: 20px 35px;
    background-image:url("https://image.freepik.com/free-photo/colourful-bri…tern-with-copy-space-background_23-2148283321.jpg");}
header h1 {
    font-weight:lighter ;
    font-size: 36px;
    color: var( --whitesmoke);
    margin: 0 auto;
    display: inline;
}
.subtitle {
    font-size: 30px;
    display: inline;
    font-weight: lighter;
    float: right;
    margin-right: 35px;
}

.logo {
    width: 100px;
}
.logo img {
    position: relative;
    border-radius: 50%;
    margin:30px 30px 0px 30px;
    width: 155px;
    height: 155px;
    display: inline-block;
}

header a {
    text-decoration: none;
    color:var( --whitesmoke);
}
header nav {
    float: right;
    margin: 7px 0;

}
header nav ul li {
    display: inline;
}
header ul li a {
    margin:0px 30px;
    font-weight: lighter;
    font-size: 20px;
    display: inline;
    align-content: center;
}
/* apply style to about me <section> */
.about-me {
    
    display:inline;
 padding: 8px 5px 133px 271px;
}

.about-me h3{
 font-size: 36px;
 color:black;
 margin-left: 0px;
 padding: 50px 5px 150px 271px;
 display: inline-block;
 width: 5%;
 float: left;
 clear: both;}
 .parag {
     line-height: 1.7;
     color:black;
     width:58%;
     font-size: 20px;
     margin: 0 auto;
     border-left: 5px solid #581845;
     padding: 17px 20px 20px 20px;
     margin-top: 70px;
 }



 
